@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,700&display=swap');
* , *::before , *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
  --green: #27ae60;
  --black: #192a56;
  --light-color: #666;
  --box-shadow: 0.5rem 1.5rem rgba(0,0,0,.01);
  --bodyBack: #ffeaed;
  --textColor: #1b2741;
  --starColor: #f67034;
  --sectionBack: #f7f6f9;
}
*{
  font-family: 'Nunito', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all .2s linear;
}
.container{
    width: 100%;
    padding: 0 125px;
    position: relative;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}
section{
  padding: 2rem 9%;
}
section:nth-child(even){
  background: #eee;
}
.btn{
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #030000;
  background: val(--black);
  border-radius: .5rem;
  cursor: pointer;
  padding: .8rem 3rem;


}

.btn :hover{
  background: var(--green);
  letter-spacing: .1rem;

}




header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f1f0f4;
    font-size: large;
    
}
header .icon-photo-container ,
header .log-list-container{ display: flex; align-items: center;}
header .log-list-container .menu{
    
    
    display: none;
    margin-right: 40px;
    cursor: pointer;
}
header .log-list-container .menu #afri{
    position: relative;
    left: 1.5in;
    font-size: 2.5rem;
    font-weight: bolder;
}

header .log-list-container .list{ margin-left: 40px;}
header .log-list-container .list a {
    display: inline-flex;
    text-decoration:none;
    color: #68707d;
    margin-left: 25px;
    padding: 30px 0;
    transition: color  .30s;
}
header .log-list-container .list .close{
    display: none;
    width: fit-content;
    margin-bottom: 50px;
    cursor: pointer;
}
header .log-list-container .list a:hover{
    padding: 28px 0;
    border-bottom: 2px solid #ff7d1a;
    color: hsl(220, 13%, 13%);
}
header .icon-photo-container{ position: relative;
}
.icon-photo-container .notification{
    display: none;
    width: 20px;
    height: 15px;
    font-size: 13px;
    justify-content: center;
    line-height: 15px;
    background-color: #ff7d1a;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    margin-top: -17px;
    cursor: pointer;
}
header .icon-photo-container .avatar{
    width: 40px;
    margin-left: 40px;
    border-radius: 50%;
    cursor: pointer;
    border-radius: 50%;
}

header .icon-photo-container .avatar:hover{ border: 3px solid #ff7d1a; }
header .icon-photo-container .icon-cart{ cursor: pointer;}
@media(max-width:1024px){
    header{ border: none;}
    header .log-list-container .menu{ display: inline-block;}
    header .log-list-container .list{
        width: 200px;
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        flex-direction: column;
        padding: 15px;
        z-index: 2;
        margin: 0;
        height: 100%;
    }
    header .log-list-container .list a {
        padding: 0;
        margin: 0 0 15px 0;
        font-weight: 700;
    }
    header .log-list-container .list .close{ display: inline-block;}
    header .log-list-container .list a:hover{ padding: 0; border: none; }
}
@media(max-width:526px){
    header{ padding:  15px 20px;}
    header .icon-photo-container .avatar{
        width: 25px;
        margin-left: 20px;
    }
}

/* productdetail starts here */
#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 2px;
  flex-wrap: wrap;
}
#product1 {
  text-align: center;
}
#product1.pro-container.pro {
  width: 23%;
  min-width: 250%;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: o.2s ease;
  position: relative;
}
#product1.pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1.pro img {
  width: 100%;
  border-radius: 20px;

}

#product1.pro .des{
  text-align: start;
  padding: 10px 0;

}
#product1.pro .des span{
  color: #606063;
  font-size: 12px;
}
#product1.pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#product1.pro .des i{
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1.pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#product1 .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;

}


/* productdetail ends here */




/* trying the dropdown toggles */
.dropdown-toggle{
  position: relative;
  float: right;
  display: inline-block;

}

.dropdown-menu {
  /* border-radius:0; */
  display: none;
  position: absolute;
  background-color: #6b4141;
  min-width: 158px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
 }
 .dropdown-menu a:hover{
  background-color: #27ae60;
  color: #666;

 }

 .dropdown-toggle:hover .dropdown-menu{
  display: none;
 }
.dropdown-toggle:hover .fas-fa-users{
  background-color: transparent;

} 
/* trying ends here */
 /* footer starts here */
 footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 }

 footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
 }
 footer h4{
  font-size: 13px;
  padding-bottom: 20px;

 }

 footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
 }

 footer  a {
  font-size: 13px;
  text-transform: none;
  color: #222;
  margin-bottom: 8px;
 }

 footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;

 }

 footer .follow i:hover, footer a:hover {
  color: #29ac1d;
 }


 /* footer ends here */
 

header .icons i:hover{
  color: #fff;
  background: var(--green);
  transform: rotate(360deg);
}
/* header .icons #menu-bars{
  display: none;
} */
#search-form{
  position: fixed;
  top: -110%; left: 0;
  height: 100%; width: 100%;
  z-index: 1004;
  background: rgba(0, 0, 0, 8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem;
}
#search-form.active{
  top: 0;
}
#search-form #search-box {
  width: 50rem;
  border-bottom: .1rem solid #fff;
  padding: 1rem 0;
  color: #fff;
  font-size: 3rem;
  text-transform: none;
  background:none;


}
#search-form #search-box::placeholder {
color: #eee;
}
#search-form #search-box::-webkit-search-cancel-button{
-webkit-appearance: none;
}
#search-form label{
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
}
#search-form label::hover{
  color:var(--green);

}
#search-form #close{
  position: absolute;
  color: #fff;
  cursor: pointer;
  top: 2rem; right:3rem;
  font-size: 5rem;


}

.home .home-slider .wrapper {
    padding: 100px 100px 100px 100px;
}


.home .home-slider .slide{
  display: flex;
  align-items: center;
  gap: 2rem;
  padding:  9rem 200px 200px 100px;
  
  
}

.home .home-slider .slide .content{
  flex: 1 1 45rem;
 
}


.home .home-slider .slide .content .image{
  flex: 1 1 45rem;
  
}

.home .home-slider .slide .content .image img{
  width: 100%;
  
} 
.home .home-slider .slide .content span{
  color: var(--green);
  font-size: 2.5rem;
  

}
.home .home-slider .slide .content h3{
  color: var(--black);
  font-size: 7rem;
  
}

.home .home-slider .slide .content p{
  color: var(--light-color);
  font-size: 2.2rem;
  padding: 5rem 0;
  line-height: 1.5;
}

.swiper-pagination-bullet-active{
  background: var(--green);
}

.content a.active {
  color: var(--green);
  border: 2px solid var(--green);
}
.content a:hover{
  color: #fff;
  background: var(--green);
  
}

/* brand products starts here */
.main-container .thebox .h2-header .head {
  color: black;
}
.main-container .thebox .circled-features img{
  height: 100px;
  width: 100px;
  border-radius: 500rem;
  box-sizing: border-box;

}

/* brand products ends here */



.order form{
  max-width: 90rem;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  border: .1rem solid rgba(0,0,0,.2);
  background: #fff;
  padding: 1.5rem;
  margin: 0 auto;
}
.order form .inputBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.order .form .inputBox input{
  width: 49%;
}

.order form .inputBox .input span{
  display: block;
  padding: .5rem 0;
  color: var(--light-color);

}
.order form .inputBox .input input,
.order form .inputBox .input textarea{
  background: #eee;
  border-radius: .5rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
  margin-bottom: 1rem;
  width: 100%;
}

.order form .inputBox .input input:focus,
.order form .inputBox .input textarea:focus{
  border: .1rem solid var(--green);
}



.order form .inputBox .input textarea{
  height: 20rem;
  resize: none;
}


.order form .btn{
  margin-top: 0;
}



























header .icons i.active{
  color: #fff;
  background: var(--green);
  
}


@media (max-width: 991px){
  html{
    font-size: 55%;
  }
  header {
    padding: 1rem 2rem;
  }
  section {
    padding:2rem;
  }


}
@media (max-width: 768px){
  header .icons #menu-bars{
    display: inline-block;
  }
  header .navbar{
    position: absolute;
    top:100%; left: 0; right: 0;
    background: #fff;
    border-top: .1rem solid rgba(0,0,0,.2);
    border-bottom: .1rem solid rgba(0,0,0,.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a{
    display: block;
    padding: 1.5rem;
    margin:1rem;
    font-size: 2rem;
    background: #eee;
  }
  search-form #search-box{
    width: 90%;
    margin: 0 1rem;
  }
  .home .home-slider .slide .content h3{
    font-size: 5rem;
  }
}
@media (max-width: 450px){
  html{
    font-size: 50%;
  }
  




  .order .form .inputBox input{
    width: 100%;
  }

}
button a {
  color: white;
}
.pro-grand {
  display: grid;
  place-content: center;
  background-color: white;
}

.pro-container{
  width: 80vw;
  height:80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.pro-header{
  width: 100%;
  text-align: center;
}
.pro-header h1{
  font-size: 4em;
  text-transform: uppercase;
  color: var(--textColor);
}
.pro-products{
  width: 100%;
  align-self: center;
  height: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.pro-product{
  position: relative;
  background-color: var(--sectionBack);
  width: 350px;
  height: 100%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 40px;
  border-radius: 10px;
  transition: .3s;
}
.pro-product:hover{
  transform: translateY(-15px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.pro-image{
  width:100%;
  height: 60%;
  display: grid;
  place-content: center;
  padding: 1rem;
}
.pro-image img{
  width: 240px;
}
.pro-namePrice{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.pro-namePrice h3{
  font-size: 2em;
  text-transform: capitalize;
  color: var(--textColor);
}
.pro-namePrice span{
  font-size: 1.5em;
  color: var(--starColor);
}
.pro-product p{
  font-size: 18px;
  line-height: 25px;
}
.pro-stars svg{
  font-size: 1.3em;
  color: var(--starColor);
}
.pro-bay{
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.pro-bay button{
  padding: 10px 20px;
  border-radius: 7px;
  border: none;
  background-color: var(--textColor);
  color: var(--sectionBack);
  font-size: 18px;
  text-transform: capitalize;
  cursor: pointer;
  transition: .5s;
}
.pro-bay button:hover{
  transform: scale(1.1);
}